<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>ASFA LAZUARDI WICAKSONO (CV)</h1>
    <div class="gambar_cv">
        <img class="foto_cv" src="{{url_for('static', filename='CV_Asfa.png')}}" alt="CV_Asfa">
    </div>
</body>
</html>

<!-- <form action="http://localhost:5000/cv" method="GET"> -->
    <!-- <embed type="application/pdf" src="{{ url_for('static', filename = 'CV_Asfa.png')}}" width="800" height="600"></embed> -->
<!-- </form> -->